<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='logo.png') }}" alt="My App Logo" class="logo">
        <h1>ABSENTEES</h1>
        <button class="download-btn" onclick="downloadApp()">Download</button>
    </header>

    <section id="contact">
        <h2>Contact Us</h2>
        <form action="https://formsubmit.co/absentees.teamas@gmail.com" method="POST">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required="">
            
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required="">
            
            <label for="message">Message:</label>
            <textarea id="message" name="message" required=""></textarea>
            
            <input type="hidden" name="_captcha" value="false">
            <input type="hidden" name="_subject" value="Trying to contact">
            <input type="hidden" name="_template" value="table">
            <button type="submit">Send</button>
        </form>
    </section>
 
    <section id="buttons">
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">Info</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
        </nav>
    </section>

    <footer>
        <p>© 2024 Absentees. All rights reserved.</p>
    </footer>
</body>
</html>